@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}

header {
  position: fixed;
  background: #ffffff;
  opacity: 0.6;
}

header:hover {
  background: #ffffff;
  opacity: 1;
}

input {
  display: none;
}
.gallery-container {
  width: 100%;
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 45px;
  position: relative;
  margin: 100px 0px 30px 0;
}

h1::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 2px;
  background-color: rgb(144, 12, 38);
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    width: 100px;
  }
  50% {
    width: 200px;
  }
  100% {
    width: 100px;
  }
}

.top-content {
  background-color: rgb(243, 243, 243);
  width: 90%;
  margin: 0 auto 20px auto;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 3px 3px 5px lightgray;
}

h3 {
  height: 100%;
  background-color: rgb(221, 221, 221);
  line-height: 60px;
  padding: 0 50px;
  color: white;
  font-size: 20px;
}

label {
  display: inline-block;
  height: 100%;
  padding: 0 10px;
  margin: 0 50px;
  line-height: 60px;
  font-size: 18px;
  color: gray;
  cursor: pointer;
  transition: color 0.5s;
}

label:hover {
  color: black;
}

.photo-gallery {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.pic {
  position: relative;
  height: 230px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px black;
  transition: 0.5s;
  margin-bottom: 15px;
}

.pic img {
  width: 100%;
  height: 102%;
  border-radius: 10px;
  transition: 0.5s;
}

.pic::before {
  content: "PHOTO GALLERY";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 22px;
  width: 100%;
  margin-top: -100px;
  opacity: 0;
  transition: 0.3s;
  transition-delay: 0.2s;
  z-index: 1;
}

.pic::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  height: 0;
  transition: 0.3s;
}

#check1:checked ~ .gallery-container .photo-gallery .pic {
  opacity: 1;
  transform: scale(1);
  position: relative;
  transition: 0.5s;
}

#check2:checked ~ .gallery-container .photo-gallery .pic .svt {
  transform: scale(1);
  opacity: 1;
  position: relative;
}

#check2:checked ~ .gallery-container .photo-gallery .bp,
#check2:checked ~ .gallery-container .photo-gallery .txt {
  opacity: 0;
  transform: scale(0);
  position: absolute;
  transition: 0s;
}

#check3:checked ~ .gallery-container .photo-gallery .txt {
  transform: scale(1);
  opacity: 1;
  position: relative;
}

#check3:checked ~ .gallery-container .photo-gallery .bp,
#check3:checked ~ .gallery-container .photo-gallery .svt {
  opacity: 0;
  transform: scale(0);
  position: absolute;
  transition: 0s;
}

#check4:checked ~ .gallery-container .photo-gallery .bp {
  transform: scale(1);
  opacity: 1;
  position: relative;
}

#check4:checked ~ .gallery-container .photo-gallery .txt,
#check4:checked ~ .gallery-container .photo-gallery .svt {
  opacity: 0;
  transform: scale(0);
  position: absolute;
  transition: 0s;
}

/*---------FOOTER SECTION---------*/

footer {
  background-color: #333; /* Background color for the footer */
  color: #fff; /* Text color */
  padding: 20px 0; /* Padding around the footer content */
  text-align: center; /* Center-align the text */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px; /* Adjust this as needed */
  margin: 0 auto;
  padding: 20px 0;
}

.footer-text {
  margin-top: 20px;
}

.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: flex-start;
  justify-content: space-between;
}

ul {
  list-style: none;
}

.logopic {
  width: 80px;
  margin-bottom: 30px;
}

.footer-col {
  flex-basis: 25%;
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  text-transform: capitalize;
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
  text-align: left; /* Add this line */
}

.underline {
  width: 70%;
  height: 5px;
  margin-top: 5px;
  background: #bbbbbb;
  position: absolute;
  top: 25px;
  left: 0;
  border-radius: 3px;
  overflow: hidden;
}

.underline span {
  width: 100%;
  height: 5px;
  background: white;
  position: absolute;
  border-radius: 3px;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}

@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col:nth-child(2),
.footer-col:nth-child(3) {
  flex-basis: 15%;
}

.footer-col ul li a {
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
  text-align: left; /* Add this line */
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  margin-top: 10px; /* Add a value here */
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  transition: all 0.5s ease;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  background-color: #ffffff;
  color: #24262b;
}

.footer-iconTop {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer-iconTop a {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
  padding: 0.8rem;
  background: #e9925c;
  border-radius: 0.8rem;
  transition: 0.5s ease;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem #b3cee5;
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: #333;
}

.footer-hr hr {
  border: 0;
  border-top: 1px solid #fff;
  margin: 20px auto;
  width: 100%; /* Adjust the width as needed */
}
