/* Media queries for different screen sizes */

@media screen and (max-width: 1680px) {
  body,
  input,
  textarea,
  select {
    font-size: 12pt;
  }
}

@media screen and (max-width: 1300px) {
  html {
    font-size: 55%;
  }

  body {
    background-size: cover;
    background-position: center center;
  }

  .slider {
    width: 1150px;
    height: 700px;
  }

  .st img {
    margin: 0 auto;
    width: 100%;
    height: 700px;
  }

  .latestwrapper .caroussel {
    grid-auto-columns: calc((100% / 3) - 12px);
  }

  .m-btn {
    width: 10px;
  }

  /* Auto navigation buttons */
  .nav-auto {
    width: 100%;
  }
}

@media screen and (max-width: 1230px) {
  .teamwrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .teamcard {
    width: 30%;
    margin: 0 auto; /* This will center the team cards horizontally */
  }

  .teamcard img {
    width: 100%;
    height: 100%;
  }

  .teamcard .info {
    text-align: center;
  }

  .teamcard .info h5,
  .teamcard .info h6,
  .teamcard .info p {
    font-size: smaller;
  }

  .teamcard .social-media {
    text-align: center;
  }

  .teamcard .social-media a {
    margin: 0 5px;
  }

  /* Display the team cards in a single column */
  #team h2 {
    font-size: 50px;
    letter-spacing: 50px;
    text-indent: 50px;
  }
}

@media screen and (max-width: 1150px) {
  .slider {
    width: 1000px;
    height: 700px;
  }

  .st img {
    margin: 0 auto;
    width: 100%;
    height: 700px;
  }
}

@media screen and (max-width: 995px) {
  body {
    background-size: cover;
    background-position: center center;
  }

  .slider {
    width: 850px;
    height: 600px;
  }

  .st img {
    margin: 0 auto;
    width: 100%;
    height: 600px;
  }

  header {
    padding: 20px;
  }

  header label {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
  }

  header .navbar ul li {
    width: 100%;
  }

  header .navbar ul li ul {
    position: relative;
    width: 100%;
  }

  header .navbar ul li ul li {
    background: #eee;
  }

  header .navbar ul li ul li ul {
    width: 100%;
    left: 0;
  }

  #menu-bar:checked ~ .navbar {
    display: initial;
  }

  .latestwrapper .caroussel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }

  body {
    background-size: cover;
    background-position: center center;
    overflow-x: hidden;
  }

  .contact {
    min-height: auto;
  }

  #aboutkpop {
    padding: 10px 0;
    flex-direction: column;
    text-align: center;
    margin-top: 0; /* Add this line to reduce the top margin */
  }

  .aboutkpop-content h2 {
    font-size: 5rem;
    margin-top: 5vh;
  }

  .right-box,
  .left-box {
    width: 95%;
    margin: auto;
    padding: 35px 5px;
    text-align: justify;
  }

  .container-box {
    flex-direction: column;
  }
}

@media screen and (max-width: 890px) {
  header {
    padding: 10px 5%; 
    justify-content: space-between; 
  }

  header .navbar ul li {
    float: none; 
    display: inline-block; 
  }

  header .navbar ul li a {
    padding: 20px 15px; 
  }

  #menu-bar {
    display: none; 
  }

  header label {
    display: inline; 
  }

  .slider {
    width: 700px;
    height: 500px;
  }

  .st img {
    margin: 0 auto;
    width: 100%;
    height: 500px;
  }
}

@media screen and (max-width: 800px) {
  header {
    padding: 10px 5%; /* Adjust the padding as per your design requirements */
    justify-content: space-between; /* Place content at both end corners with space in between */
  }

  header .navbar ul li {
    float: none; /* Reset float for menu items */
    display: inline-block; /* Display menu items horizontally */
  }

  header .navbar ul li a {
    padding: 20px 15px; /* Adjust padding for smaller screens */
  }

  #menu-bar {
    display: none; /* Hide the menu bar on smaller screens or adjust as needed */
  }

  header label {
    display: inline; /* Display the label inline for smaller screens */
  }

  .slider {
    width: 600px;
    height: 400px;
  }

  .st img {
    margin: 0 auto;
    width: 100%;
    height: 400px;
  }

  body {
    background-size: contain;
    background-position: center center;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-social {
    margin-top: 20px;
  }
}

@media screen and (max-width: 790px) {
  /* Slider images */
  .slider {
    width: 550px;
    height: 400px;
    margin: 0 auto;
  }

  .st img {
    margin: 0 auto;
    width: 100%;
    height: 400px;
  }

  /* Navigation buttons */
  .m-btn {
    width: 0px;
  }

  /* Auto navigation buttons */
  .nav-auto {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  body {
    background-size: contain;
    background-position: center center;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-social {
    margin-top: 20px;
  }
}

@media screen and (max-width: 700px) {
  body {
    background-size: contain;
    background-position: center center;
  }

  .slider {
    width: 500px;
    margin-top: 5px;
    height: 400px;
  }
}

@media screen and (max-width: 600px) {
  .teamcard {
    grid-template-columns: repeat(1, 1fr);
  }

  body {
    background-size: contain;
    background-position: center center;
  }

  .slider {
    width: 450px;
    height: 300px;
  }

  .latestwrapper .caroussel {
    grid-auto-columns: 100%;
  }
}

@media screen and (max-width: 520px) {
  .m-btn {
    width: 0px;
  }

  .nav-auto {
    width: 90%;
  }

  .slider {
    width: 400px;
    height: 300px;
  }

  .latestwrapper .caroussel {
    grid-auto-columns: 100%;
  }
}

@media screen and (max-width: 480px) {
  /* Slider images */
  .slider {
    width: 350px;
    height: 350px;
    margin: 0 auto;
    left: 10%;
    transform: translateX(-10%);
  }

  .st img {
    margin: 0 auto;
    width: 100%;
    height: 350px;
  }

  /* Navigation buttons */
  .m-btn {
    width: 0px;
  }

  /* Auto navigation buttons */
  .nav-auto {
    width: 90%;
  }
}

@media screen and (max-width: 415px) {
  /* Slider images */
  .slider {
    width: 350px;
    height: 350px;
    margin: 0 auto;
    left: 30%;
    transform: translateX(-19%);
  }

  .st img {
    margin: 0 auto;
    width: 100%;
    height: 350px;
  }

  /* Navigation buttons */
  .m-btn {
    width: 0px;
  }

  /* Auto navigation buttons */
  .nav-auto {
    width: 90%;
  }

  #aboutkpop {
    flex-direction: column;
    padding: 10px 0;
  }

  .aboutkpop-content h2 {
    font-size: 3.5rem;
    margin-top: 10vh;
  }

  .right-box p {
    font-size: 2rem;
    text-align: left;
  }

  .left-box {
    margin: 0 auto;
    width: 100%;
  }

  .right-box {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
  }

  .contact {
    flex-basis: 100%;
  }

  .contact form {
    max-width: 95%; /* Adjust the maximum width as needed */
  }

  .contact form .btn {
    padding: 1rem 1.5rem; /* Adjust the button padding as needed */
    font-size: 1.2rem; /* Adjust the font size as needed */
  }
}

@media screen and (max-width: 390px) {
  .header {
    margin-bottom: 0;
  }

  .homepage {
    margin-bottom: 10px;
  }

  .slider {
    width: 350px;
    height: 250px;
    margin: 0 auto;
    left: 25%;
    transform: translateX(-15%);
    margin-bottom: 0;
  }

  .slider {
    margin-top: 30px;
  }

  .st img {
    margin: 0 auto;
    width: 100%;
    height: 250px;
  }

  /* Navigation buttons */
  .m-btn {
    width: 0px;
  }

  /* Auto navigation buttons */
  .nav-auto {
    width: 90%;
  }

  #aboutkpop {
    padding: 10px 0;
    flex-direction: column;
    text-align: center;
    margin-top: 0; /* Add this line to reduce the top margin */
  }

  .aboutkpop-content h2 {
    font-size: 3rem;
    margin-top: 5vh;
  }

  .right-box,
  .left-box {
    width: 95%;
    margin: auto;
    padding: 35px 5px; /* Adjust the padding as needed */
  }

  .container-box {
    flex-direction: column;
  }

  #latestupdate {
    padding: 60px 0;
  }

  /* Center the content within .slide-container */
  .slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  /* Adjust card styles for smaller screens */
  .card {
    width: calc(33.33% - 5px);
    height: 400px;
    margin: 2.5px;
    margin-left: auto;
    border-radius: 25px;
    background-color: #ffc894;
  }

  .image-container {
    margin: 0 auto;
  }

  /* Fit the image to the screen width */
  .image {
    width: 100%;
  }

  /* Further adjustments for smaller screens */
  .name {
    font-size: 18px;
  }

  .description {
    font-size: 15px;
    margin-bottom: 10px;
  }

  /* Center image and video containers for smaller screens */
  .image-container,
  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  /* Adjust the size of the video thumbnail for smaller screens */
  .ytp-cued-thumbnail-overlay-image {
    height: 100px;
    padding-top: 40%;
  }

  .ytp-large-play-button {
    width: 60px;
    height: 45px;
    top: 75%;
  }

  .ytp-impression-link {
    right: 0;
  }

  .swiper-pagination {
    bottom: 5px; /* Adjust as needed */
  }

  /* Style Swiper Pagination Bullets for smaller screens */
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin: 0 3px; /* Adjust the margin to your preference */
  }

  .ytp-impression-link {
    background: rgba(23, 23, 23, 0.8);
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    bottom: 6px;
    right: 200px;
    height: 22px;
    position: absolute;
    display: flex; /* Add flex display to center content vertically */
    align-items: center; /* Vertically center the content */
  }

  .ytp-impression-link-content {
    display: flex;
    align-items: center;
  }

  .ytp-impression-link-text {
    flex: 1;
    font-weight: bold;
    font-size: 12px;
    color: white;
  }

  .ytp-impression-link-logo {
    float: right;
    height: 16px;
    margin-left: 9px;
    margin-right: 12px;
    width: 68px;
  }

  .teamcard {
    width: 360px;
    height: 460px;
    margin-bottom: 30px;
    left: -1%;
    transform: translateX(1%);
  }

  .teamcard img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  /* Display the team cards in a single column */
  .teamwrapper {
    display: flex;
    flex-direction: column;
  }

  #team h2 {
    font-size: 50px;
    letter-spacing: 50px;
    text-indent: 50px;
  }

  .contact form {
    max-width: 95%;
  }

  .contact form .btn {
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin: auto;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
  }

  .footer-text {
    margin-top: 20px;
  }

  .row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: flex-start;
    justify-content: space-between;
  }

  ul {
    list-style: none;
  }

  .logopic {
    width: 80px;
    margin-bottom: 30px;
  }

  .footer-col {
    flex-basis: 100%;
    padding: 0 15px;
  }

  .footer-col h4 {
    text-transform: capitalize;
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 30px;
    font-weight: 200;
    position: relative;
    text-align: center;
  }

  .underline {
    width: 70%;
    height: 5px;
    margin-top: 5px;
    background: #bbbbbb;
    position: absolute;
    top: 25px;
    left: 0;
    border-radius: 3px;
    overflow: hidden;
  }

  .underline span {
    width: 100%;
    height: 5px;
    background: white;
    position: absolute;
    border-radius: 3px;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
  }

  @keyframes moving {
    0% {
      left: -20px;
    }
    100% {
      left: 100%;
    }
  }

  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }

  .footer-col ul li a {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
    text-align: center; /* Center-align the text */
  }

  .footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
  }

  .footer-col .social-links a {
    display: inline-block;
    margin-top: 5vh;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 5px 5px 0;
    text-align: center;
    transition: all 0.5s ease;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }

  .footer-col .social-links a:hover {
    background-color: #ffffff;
    color: #24262b;
  }

  .footer-iconTop {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content */
  }

  .footer-iconTop a {
    display: inline-flex;
    align-items: center;
    margin: 10px;
    margin-bottom: 15px;
    padding: 0.5rem;
    background: #e9925c;
    border-radius: 0.8rem;
    transition: 0.5s ease;
  }

  .footer-iconTop a:hover {
    box-shadow: 0 0 1rem #b3cee5;
  }

  .footer-iconTop a i {
    font-size: 2.4rem;
    color: #333;
  }

  .footer-hr hr {
    border: 0;
    border-top: 1px solid #fff;
    margin: 20px auto;
    width: 100%; /* Adjust the width as needed */
  }

  .underline {
    width: 70%;
    height: 5px;
    margin-top: 2px;
    background: #bbbbbb;
    position: absolute;
    top: 50px; /* Adjust the top position */
    left: 50%; /* Center the underline */
    transform: translateX(-50%); /* Center the underline */
    border-radius: 3px;
    overflow: hidden;
  }

  .underline span {
    width: 100%;
    height: 5px;
    background: white;
    position: absolute;
    border-radius: 3px;
    top: 0;
    left: 0; /* Adjust the left position */
    animation: moving 2s linear infinite;
  }
}
