/* @media screen and (max-width: 1680px) body, input, textarea, select {
  font-size: 12pt;
} */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  .latestwrapper .caroussel {
    grid-auto-columns: calc((100% / 3) - 12px);
  }
}

@media (max-width: 999px) {
  header {
    padding: 20px;
  }
  header label {
    display: initial;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
  }

  header .navbar ul li {
    width: 100%;
  }
  header .navbar ul li ul {
    position: relative;
    width: 100%;
  }

  header .navbar ul li ul li {
    background: #eee;
  }

  header .navbar ul li ul li ul {
    width: 100%;
    left: 0;
  }

  #menu-bar:checked ~ .navbar {
    display: initial;
  }
}


@media screen and (max-width: 900px) {
  .latestwrapper .caroussel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}


@media screen and (max-width: 768px) {
  .footer-content {
      flex-direction: column;
  }
  .footer-social {
      margin-top: 20px;
  }
}


@media screen and (max-width: 600px) {
  .latestwrapper .caroussel {
    grid-auto-columns: 100%;
  }
}