/*===============================
  MEMBER PROFILE
=================================*/

@media screen and (max-width: 1750px) {
  #header h2 {
    font-size: 90px;
  }

  #header p {
    font-size: 40px;
    margin-top: -10px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: #fff;
  }

  #profile h2 {
    font-size: 90px;
    padding-top: 30%;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: #fff;
  }

  /* .banner-area-mem h2 {
    padding-top: 24%;
    font-size: 80px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: #fff;
  } */

  .members-img2-right img {
    border-radius: 2.5rem;
    max-width: 300px;
    height: auto;
    transition: transform 0.3s;
    margin-top: 10%;
    margin-right: 20px;
    margin-left: 440%;
    float: left;
  }

  /* .members-img img {
    border-radius: 2.5rem;
    max-width: 300px;
    height: auto;
    transition: transform 0.3s;
    margin-top: 10%;
    margin-right: 10%;
    margin-left: 120%;
  } */

  .members-text ul {
    list-style: none;
    padding-right: 10%;
    padding-left: 15%;
    font-size: 17px;
    font-weight: 500;
  }

  .members-text h2 {
    padding-top: -10%;
    padding-bottom: 4%;
    padding-left: 63%;
    font-size: 25px;
  }

  .members-ans ul {
    list-style: none;
    padding-right: 10%;
    padding-left: -20%;
    padding-top: 12%;
    font-size: 17px;
    margin-bottom: 20px;
    margin-right: 10%;
  }

  .members-text-left h2 {
    padding-top: -10%;
    padding-bottom: 4%;
    padding-right: 40%;
    font-size: 25px;
  }

  .members-text-left ul {
    list-style: none;
    font-size: 17px;
    margin-right: 60%;
  }

  .members-answer-left {
    color: #fff;
    font-family: "Poppins", sans-serif;
    flex: 1;
  }

  .members-answer-left ul {
    list-style: none;
    padding-right: 50%;
    padding-left: 10%;
    padding-top: 6%;
    font-size: 17px;
    margin-left: -55rem;
  }

  .members-answer-left ul li {
    text-align: left;
  }
}

@media screen and (max-width: 1550px) {
  .banner-area-mem h2 {
    padding-top: 30%;
    font-size: 60px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: #fff;
  }
  .members-img img {
    border-radius: 2.5rem;
    max-width: 300px;
    height: auto;
    transition: transform 0.3s;
    margin-top: 10%;
    margin-right: 50%;
    margin-left: 60%;
  }

  .members-ans ul {
    list-style: none;
    padding-right: 10%;
    padding-left: -20%;
    padding-top: 15%;
    font-size: 17px;
    margin-bottom: 15px;
  }

  .members-text-left h2 {
    text-align: center;
    padding-top: -10%;
    padding-bottom: 4%;
    padding-right: 40%;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: #2a0800;
  }
  .members-text-left {
    color: #2a0800;
    font-family: "Poppins", sans-serif;
    flex: 1;
    margin-left: -30rem;
    font-weight: 500;
  }

  .members-text-left ul {
    list-style: none;
    font-size: 17px;
    margin-right: 60%;
  }

  .members-answer-left ul {
    list-style: none;
    padding-right: 50%;
    padding-left: 10%;
    padding-top: 8%;
    font-size: 17px;
    margin-left: -45rem;
  }
  .members-img2-right img {
    border-radius: 2.5rem;
    max-width: 300px;
    height: auto;
    transition: transform 0.3s;
    margin-top: 10%;
    margin-right: 20px;
    margin-left: 440%;
    float: left;
  }
}

@media screen and (max-width: 1452px) {
  .banner-area-mem h2 {
    padding-top: 30%;
    font-size: 60px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: #fff;
  }
  .members-img img {
    border-radius: 2.5rem;
    max-width: 300px;
    height: auto;
    transition: transform 0.3s;
    margin-top: 10%;
    margin-right: 50%;
    margin-left: 60%;
  }

  .members-ans ul {
    list-style: none;
    padding-right: 10%;
    padding-left: -20%;
    padding-top: 15%;
    font-size: 17px;
    margin-bottom: 15px;
  }

  .members-text-left h2 {
    text-align: center;
    padding-top: -10%;
    padding-bottom: 4%;
    padding-right: 40%;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: #2a0800;
  }
  .members-text-left {
    color: #2a0800;
    font-family: "Poppins", sans-serif;
    flex: 1;
    margin-left: -30rem;
    font-weight: 500;
  }

  .members-text-left ul {
    list-style: none;
    font-size: 17px;
    margin-right: 60%;
  }

  .members-answer-left ul {
    list-style: none;
    padding-right: 50%;
    padding-left: 10%;
    padding-top: 8%;
    font-size: 17px;
    margin-left: -45rem;
  }

  .members-img2-right img {
    border-radius: 2.5rem;
    max-width: 300px;
    height: auto;
    transition: transform 0.3s;
    margin-top: 10%;
    margin-right: 20px;
    margin-left: 440%;
    float: left;
  }
}

@media screen and (max-width: 1350px) {
  .banner-area-mem h2 {
    padding-top: 30%;
    font-size: 60px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: #fff;
  }
  .members-img img {
    border-radius: 2.5rem;
    max-width: 300px;
    height: auto;
    transition: transform 0.3s;
    margin-top: 10%;
    margin-right: 50%;
    margin-left: 60%;
  }

  .members-ans ul {
    list-style: none;
    padding-right: 10%;
    padding-left: -20%;
    padding-top: 15%;
    font-size: 17px;
    margin-bottom: 15px;
  }

  .members-text-left h2 {
    text-align: center;
    padding-top: -10%;
    padding-bottom: 4%;
    padding-right: 40%;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: #2a0800;
  }
  .members-text-left {
    color: #2a0800;
    font-family: "Poppins", sans-serif;
    flex: 1;
    margin-left: -30rem;
    font-weight: 500;
  }

  .members-text-left ul {
    list-style: none;
    font-size: 17px;
    margin-right: 60%;
  }

  .members-answer-left ul {
    list-style: none;
    padding-right: 50%;
    padding-left: 10%;
    padding-top: 8%;
    font-size: 17px;
    margin-left: -45rem;
  }

  .members-img2-right img {
    border-radius: 2.5rem;
    max-width: 300px;
    height: auto;
    transition: transform 0.3s;
    margin-top: 10%;
    margin-right: 50%;
    margin-left: 350%;
    float: left;
  }
}

@media screen and (max-width: 1200px) {
  .banner-area-mem h2 {
    padding-top: 30%;
    font-size: 60px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: #fff;
  }
  .members-img img {
    border-radius: 2.5rem;
    max-width: 300px;
    height: auto;
    transition: transform 0.3s;
    margin-top: 10%;
    margin-right: 50%;
    margin-left: 60%;
  }

  .members-ans ul {
    list-style: none;
    padding-right: 10%;
    padding-left: -20%;
    padding-top: 15%;
    font-size: 17px;
    margin-bottom: 15px;
  }

  .members-text-left h2 {
    text-align: center;
    padding-top: -10%;
    padding-bottom: 4%;
    padding-right: 40%;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: #2a0800;
  }
  .members-text-left {
    color: #2a0800;
    font-family: "Poppins", sans-serif;
    flex: 1;
    margin-left: -30rem;
    font-weight: 500;
  }

  .members-text-left ul {
    list-style: none;
    font-size: 17px;
    margin-right: 60%;
  }

  .members-answer-left ul {
    list-style: none;
    padding-right: 50%;
    padding-left: 10%;
    padding-top: 8%;
    font-size: 17px;
    margin-left: -45rem;
  }

  .members-img2-right img {
    border-radius: 2.5rem;
    max-width: 300px;
    height: auto;
    transition: transform 0.3s;
    margin-top: 10%;
    margin-right: 50%;
    margin-left: 270%;
    float: left;
  }
}

@media screen and (max-width: 800px) {
  .banner-area-mem h2 {
    padding-top: 40%;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: #fff;
  }

  .banner-area-mem p {
    font-size: 33px;
  }

  .banner-area-mem {
    width: 100%;
    height: 450px;
  }

  .members-name h2 {
    font-size: 35px;
  }

  .members-img img {
    border-radius: 2.5rem;
    max-width: 250px;
    height: auto;
    transition: transform 0.3s;
    margin-top: 10%;
    margin-right: 20%;
    margin-left: 30%;
  }

  .members-img2-right img {
    border-radius: 2.5rem;
    max-width: 250px;
    height: auto;
    transition: transform 0.3s;
    margin-top: 10%;
    margin-right: 20px;
    margin-left: 170%;
    float: left;
  }

  .members-text ul {
    list-style: none;
    padding-right: -10%;
    font-size: 14px;
    font-weight: 500;
  }

  .members-ans ul {
    list-style: none;
    padding-right: 10%;
    padding-left: -25%;
    padding-top: 17%;
    font-size: 14px;
  }

  .members-text h2 {
    text-align: center;
    padding-top: -10%;
    padding-bottom: 4%;
    padding-left: 50%;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: #2a0800;
  }

  .members-text-left ul {
    list-style: none;
    font-size: 14px;
    margin-right: 50%;
  }

  .container-mem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    margin: 20px;
    margin-bottom: -5%;
    margin-top: 2%;
    text-align: center;
    align-items: center;
    max-width: 100%;
  }

  .container-mem2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    margin: 20px;
    margin-bottom: -5%;
    margin-top: 2%;
    text-align: center;
    align-items: center;
    max-width: 100%;
  }

  .button {
    display: inline-block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 5px;
    margin-left: 6%;
    width: calc(33.33% - 20px);
    font-size: 15px;
  }
}

@media screen and (max-width: 700px) {
  .banner-area-mem h2 {
    padding-top: 40%;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: #fff;
  }

  .members-name h2 {
    font-size: 32px;
  }

  .members-img img {
    border-radius: 2.5rem;
    max-width: 250px;
    height: auto;
    transition: transform 0.3s;
    margin-top: 10%;
    margin-right: 20%;
    margin-left: 25%;
  }

  .members-img2-right img {
    border-radius: 2.5rem;
    max-width: 250px;
    height: auto;
    transition: transform 0.3s;
    margin-top: 10%;
    margin-right: 20px;
    margin-left: 145%;
    float: left;
  }

  .members-text ul {
    list-style: none;
    padding-right: -10%;
    font-size: 12px;
    font-weight: 500;
  }

  .members-ans ul {
    list-style: none;
    padding-right: 5%;
    padding-left: -25%;
    padding-top: 17%;
    font-size: 12px;
  }

  .members-text-left h2 {
    padding-top: -10%;
    padding-bottom: 4%;
    padding-right: 40%;
    margin-right: 3%;
  }

  .members-text-left ul {
    list-style: none;
    font-size: 12px;
    margin-right: 55%;
  }

  .members-answer-left ul {
    list-style: none;
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 13%;
    font-size: 12px;
    margin-left: -30rem;
  }

  .members-facts h2 {
    font-size: 18px;
  }

  .members-facts p {
    font-size: 12px;
  }

  /* .members-profile {
    flex-direction: column-reverse;
  }

  .members-img img {
    border-radius: 2.5rem;
    max-width: 250px;
    height: auto;
    transition: transform 0.3s;
    margin-top: 10%;
    margin-right: 20%;
    margin-left: 20%;
  }

  .members-text {
    margin-top: 10px;
  } */
}

@media screen and (max-width: 600px) {
  .banner-area-mem h2 {
    padding-top: 50%;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: #fff;
  }

  .banner-area-mem p {
    font-size: 33px;
  }

  .container-mem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 85%;
    margin: 90px;
    margin-bottom: -5%;
    margin-top: 2%;
    margin-left: 5%;
  }

  .container-mem2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 85%;
    margin: 90px;
    margin-bottom: -5%;
    margin-top: 2%;
    margin-left: 5%;
  }

  .container-mem a {
    font-size: 12px;
  }

  .container-mem2 a {
    font-size: 12px;
  }

  .members-name h2 {
    font-size: 25px;
  }

  .members-img img {
    border-radius: 2.5rem;
    max-width: 200px;
    height: auto;
    transition: transform 0.3s;
    margin-top: 10%;
    margin-right: 20%;
    margin-left: 25%;
  }

  .members-text ul {
    list-style: none;
    padding-right: -10%;
    font-size: 10px;
    font-weight: 500;
  }

  .members-ans ul {
    list-style: none;
    padding-right: 1%;
    padding-left: -25%;
    padding-top: 22%;
    font-size: 10px;
  }

  .members-img2-right img {
    border-radius: 2.5rem;
    max-width: 200px;
    height: auto;
    transition: transform 0.3s;
    margin-top: 10%;
    margin-right: 20px;
    margin-left: 155%;
    float: left;
  }

  .members-text-left h2 {
    padding-left: 30%;
  }

  .members-text-left ul {
    list-style: none;
    font-size: 10px;
    margin-right: 40%;
    padding-left: 5%;
  }

  .members-answer-left ul {
    list-style: none;
    padding-right: 20%;
    padding-left: 35%;
    padding-top: 13%;
    font-size: 10px;
    margin-left: -28rem;
  }

  .members-facts h2 {
    font-size: 16px;
  }

  .members-facts p {
    font-size: 10px;
  }

  .members-facts-two h2 {
    font-size: 16px;
  }

  .members-facts-two p {
    font-size: 10px;
  }

  .members-facts-three h2 {
    font-size: 16px;
  }

  .members-facts-three p {
    font-size: 10px;
  }

  .members-facts-four h2 {
    font-size: 16px;
  }

  .members-facts-four p {
    font-size: 10px;
  }

  .members-facts-five h2 {
    font-size: 16px;
  }

  .members-facts-five p {
    font-size: 10px;
  }
}

@media screen and (max-width: 520px) {
  .banner-area-mem h2 {
    padding-top: 53%;
    font-size: 33px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: #fff;
  }

  .container-mem a {
    font-size: 10px;
  }

  .container-mem2 a {
    font-size: 10px;
  }

  .members-name h2 {
    font-size: 30px;
  }

  .banner-area-mem p {
    font-size: 28px;
  }

  .banner-area-mem {
    width: 100%;
    height: 400px;
  }

  .members-img img {
    border-radius: 2.5rem;
    max-width: 180px;
    height: auto;
    transition: transform 0.3s;
    margin-top: 10%;
    margin-right: 20%;
    margin-left: 25%;
  }

  .members-text h2 {
    margin-left: -20%;
  }

  .members-text ul {
    list-style: none;
    padding-right: -10%;
    font-size: 9px;
    font-weight: 500;
  }

  .members-ans ul {
    list-style: none;
    padding-right: 1%;
    padding-left: -25%;
    padding-top: 25%;
    font-size: 9px;
  }

  .members-img2-right img {
    border-radius: 2.5rem;
    max-width: 180px;
    height: auto;
    transition: transform 0.3s;
    margin-top: 10%;
    margin-right: 20px;
    margin-left: 145%;
    float: left;
  }

  .members-text-left ul {
    list-style: none;
    font-size: 9px;
    margin-right: 35%;
    padding-left: 5%;
  }

  .members-answer-left ul {
    list-style: none;
    padding-right: 20%;
    padding-left: 50%;
    padding-top: 14%;
    font-size: 9px;
    margin-left: -27rem;
  }
}
@media screen and (max-width: 480px) {
  .container-mem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 85%;
    margin: 90px;
    margin-bottom: -5%;
    margin-top: 2%;
    margin-left: 5%;
  }

  .container-mem2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 85%;
    margin: 90px;
    margin-bottom: -5%;
    margin-top: 2%;
    margin-left: 5%;
  }

  .members-name h2 {
    font-size: 25px;
  }

  .members-text h2 {
    padding-left: 10%;
    margin-top: -5%;
  }

  .members-text ul {
    padding-right: -10%;
    font-size: 8px;
    font-weight: 500;
    margin-right: 10%;
    margin-top: 5%;
  }

  .members-ans ul {
    list-style: none;
    padding-right: -3%;
    font-size: 8px;
    margin-left: -10%;
    margin-top: 5%;
  }

  .members-img2-right img {
    border-radius: 2.5rem;
    max-width: 180px;
    height: auto;
    transition: transform 0.3s;
    margin-top: 10%;
    margin-right: 50px;
    margin-left: 125%;
    float: left;
  }

  .members-text-left h2 {
    padding-top: -10%;
    padding-bottom: 4%;
    padding-left: 15%;
  }

  .members-text-left ul {
    list-style: none;
    font-size: 8px;
    margin-right: 45%;
    padding-left: 5%;
  }

  .members-answer-left ul {
    list-style: none;
    padding-right: 20%;
    padding-left: 60%;
    padding-top: 17%;
    font-size: 8px;
    margin-left: -29rem;
  }
}
@media screen and (max-width: 415px) {
  .banner-area-mem h2 {
    padding-top: 65%;
    font-size: 28px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    color: #fff;
  }

  .banner-area-mem p {
    font-size: 23px;
  }

  .banner-area-mem {
    width: 100%;
    height: 400px;
  }

  .container-mem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin: 90px;
    margin-bottom: -5%;
    margin-top: 2%;
    margin-left: 8%;
  }

  .container-mem2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin: 90px;
    margin-bottom: -5%;
    margin-top: 2%;
    margin-left: 8%;
  }

  .container-mem a {
    font-size: 9px;
    padding: 10px 2px;
  }

  .container-mem2 a {
    font-size: 9px;
    padding: 10px 2px;
  }

  .members-img img {
    max-width: 150px;
    transition: transform 0.3s;
    margin-right: 10%;
    margin-left: 30%;
  }

  .members-text ul {
    padding-right: 10%;
    margin-top: 5%;
  }

  .members-img2-right img {
    max-width: 150px;
    transition: transform 0.3s;
    margin-top: 10%;
    margin-right: -10%;
    margin-left: 150%;
  }

  .members-text-left h2 {
    padding-top: -10%;
    padding-bottom: 4%;
    padding-left: 55%;
  }

  .members-text-left ul {
    list-style: none;
    font-size: 8px;
    margin-right: 20%;
    padding-left: 5%;
  }

  .members-answer-left ul {
    padding-right: 10%;
    padding-left: 20%;
    padding-top: 16%;
    margin-left: -16rem;
  }
}

@media screen and (max-width: 390px) {
  .members-img img {
    max-width: 120px;
    transition: transform 0.3s;
  }

  .members-text ul {
    margin-left: -10%;
  }

  .members-img2-right img {
    max-width: 120px;
    transition: transform 0.3s;
    margin-top: 10%;
    margin-right: -10%;
    margin-left: 190%;
  }

  .members-text-left h2 {
    padding-top: -10%;
    padding-bottom: 4%;
    padding-left: 60%;
  }

  .members-text-left ul {
    list-style: none;
    font-size: 8px;
    margin-right: 10%;
    padding-left: 30%;
  }

  .members-answer-left ul {
    padding-right: 10%;
    padding-left: 20%;
    padding-top: 16%;
    margin-left: -12rem;
  }
}
