@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}

header {
  position: fixed;
  background: #ffffff;
  opacity: 0.6;
}

header:hover {
  background: #ffffff;
  opacity: 1;
}

/* SVT */

.svt-title-songs {
  padding-left: 75px;
  padding-top: 100px;
  font-size: 50px;
  text-align: left;
  font-weight: bolder;
  text-shadow: 0 5px 10px rgb(247, 202, 201);
}

.svt-flex-container {
  padding-top: 20px;
  padding-left: 50px;
  width: 100%;
  height: auto;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.svt-flex-box {
  width: 250px;
  height: 250px;
  background: linear-gradient(#f7cac9, #b3cee5);
  color: white;
  font-size: 25px;
  text-align: center;
  border-radius: 20px;
  margin: 15px;
}

.svt-flex-container .svt-flex-box {
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
}

.svt-flex-container .svt-flex-box:hover {
  box-shadow: 0 0 2rem #ffdbd9;
}

.svt-flex-box img {
  width: 100%;
  transition: 0.8 ease;
}

.svt-flex-box:hover img {
  transform: scale(0.85);
}

.svt-flex-box .svt-flex-box-details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(102, 232, 255, 0.5), #ffdbd9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 0.1rem;
  transform: translateX(100%);
  transition: 0.8 ease;
}

.svt-flex-box:hover .svt-flex-box-details {
  transform: translateX(0);
}

.svt-flex-box-details h1 {
  font-size: 2rem;
  color: black;
}

.svt-flex-box-details p2 {
  font-size: 1.85rem;
  margin: 0.3rem 0 1rem;
  color: black;
}

.svt-flex-box-details a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: #bb9b98;
  border-radius: 50%;
}

.svt-flex-box-details a i {
  font-size: 2rem;
  color: #ffd1d1;
}

/* TXT */

.txt-title-songs {
  padding-left: 75px;
  padding-top: 100px;
  font-size: 50px;
  text-align: left;
  font-weight: bolder;
  text-shadow: 0 5px 10px rgb(247, 202, 201);
}

.txt-flex-container {
  padding-top: 20px;
  padding-left: 50px;
  width: 100%;
  height: auto;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.txt-flex-box {
  width: 250px;
  height: 250px;
  background: linear-gradient(#82dfcd, #cbcbf4);
  color: white;
  font-size: 25px;
  text-align: center;
  border-radius: 20px;
  margin: 15px;
}

.txt-flex-container .txt-flex-box {
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
}

.txt-flex-container .txt-flex-box:hover {
  box-shadow: 0 0 2rem #ffdbd9;
}

.txt-flex-box img {
  width: 100%;
  transition: 0.8 ease;
}

.txt-flex-box:hover img {
  transform: scale(0.85);
}

.txt-flex-box .txt-flex-box-details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(102, 232, 255, 0.5), #cbcbf4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 0.1rem;
  transform: translateX(100%);
  transition: 0.8 ease;
}

.txt-flex-box:hover .txt-flex-box-details {
  transform: translateX(0);
}

.txt-flex-box-details h1 {
  font-size: 2rem;
  color: black;
}

.txt-flex-box-details p2 {
  font-size: 1.85rem;
  margin: 0.3rem 0 1rem;
  color: black;
}

.txt-flex-box-details a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: #bb9b98;
  border-radius: 50%;
}

.txt-flex-box-details a i {
  font-size: 2rem;
  color: #ffd1d1;
}

/* BP */

.bp-title-songs {
  padding-left: 75px;
  padding-top: 100px;
  font-size: 50px;
  text-align: left;
  font-weight: bolder;
  text-shadow: 0 5px 10px rgb(247, 202, 201);
}

.bp-flex-container {
  padding-top: 20px;
  padding-left: 50px;
  width: 100%;
  height: auto;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.bp-flex-box {
  width: 250px;
  height: 250px;
  background: linear-gradient(#fc6c85, #e4aebe);
  color: white;
  font-size: 25px;
  text-align: center;
  border-radius: 20px;
  margin: 15px;
}

.bp-flex-container .bp-flex-box {
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
}

.bp-flex-container .bp-flex-box:hover {
  box-shadow: 0 0 2rem #ffdbd9;
}

.bp-flex-box img {
  width: 100%;
  transition: 0.8 ease;
}

.bp-flex-box:hover img {
  transform: scale(0.85);
}

.bp-flex-box .bp-flex-box-details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(102, 232, 255, 0.5), #e4aebe);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 0.1rem;
  transform: translateX(100%);
  transition: 0.8 ease;
}

.bp-flex-box:hover .bp-flex-box-details {
  transform: translateX(0);
}

.bp-flex-box-details h1 {
  font-size: 2rem;
  color: black;
}

.bp-flex-box-details p2 {
  font-size: 1.85rem;
  margin: 0.3rem 0 1rem;
  color: black;
}

.bp-flex-box-details a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: #bb9b98;
  border-radius: 50%;
}

.bp-flex-box-details a i {
  font-size: 2rem;
  color: #ffd1d1;
}

/*---------FOOTER SECTION---------*/

footer {
  background-color: #333; /* Background color for the footer */
  color: #fff; /* Text color */
  padding: 20px 0; /* Padding around the footer content */
  text-align: center; /* Center-align the text */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px; /* Adjust this as needed */
  margin: 0 auto;
  padding: 20px 0;
}

.footer-text {
  margin-top: 20px;
}

.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: flex-start;
  justify-content: space-between;
}

ul {
  list-style: none;
}

.logopic {
  width: 80px;
  margin-bottom: 30px;
}

.footer-col {
  flex-basis: 25%;
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  text-transform: capitalize;
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
  text-align: left; /* Add this line */
}

.underline {
  width: 70%;
  height: 5px;
  margin-top: 5px;
  background: #bbbbbb;
  position: absolute;
  top: 25px;
  left: 0;
  border-radius: 3px;
  overflow: hidden;
}

.underline span {
  width: 100%;
  height: 5px;
  background: white;
  position: absolute;
  border-radius: 3px;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}

@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col:nth-child(2),
.footer-col:nth-child(3) {
  flex-basis: 15%;
}

.footer-col ul li a {
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
  text-align: left; /* Add this line */
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  margin-top: 10px; /* Add a value here */
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  transition: all 0.5s ease;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  background-color: #ffffff;
  color: #24262b;
}

.footer-iconTop {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer-iconTop a {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
  padding: 0.8rem;
  background: #e9925c;
  border-radius: 0.8rem;
  transition: 0.5s ease;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem #b3cee5;
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: #333;
}

.footer-hr hr {
  border: 0;
  border-top: 1px solid #fff;
  margin: 20px auto;
  width: 100%; /* Adjust the width as needed */
}
