@media screen and (max-width: 1680px) {
  body,
  input,
  textarea,
  select {
    font-size: 12pt;
  }
}

@media screen and (max-width: 1420px) {
  html {
    font-size: 55%;
  }

  body {
    background-size: cover;
    background-position: center center;
  }
  header {
    position: fixed;
  }
}

.svt-flex-container {
  padding-top: 20px;
  padding-left: 30px;
  width: 100%;
  height: auto;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
